#root {
  /* shape */
  width: 100%;
  min-height: 100%;
}

#root > .App {
  /* Shape */
  width: 100%;
  min-height: 100%;

  /* Color */
  background-color: rgb(66, 7, 49);
}

#root > .App {
  display: grid;
  grid-template-areas:
  "nav main"
  "nav main"
  ;
  grid-template-columns: 1fr 9fr;
}

a {
  color: inherit;
}

.hoverFeedback:hover {
  background-color: black;
}